body {
  background-image: url(media/cover.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .logo {
    width: 150px;
  }

  #container {
    background-color: rgba(255, 255, 255, 0.9);
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
    height: 80vh;
  }

  .timeCont {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .inputCont {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  #create,
  #copyButton {
    background-color: darkred;
    color: white;
    padding: 5px;
    border-style: none;
    box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
    cursor: pointer;
  }

  #receiptOutput {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
  }

  #goBack {
    display: block;
    margin-top: 10px;
    background-color: rgb(255, 196, 0);
    padding: 10px;
    border-style: none;
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  .ikons {
    margin-top: 5px;
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: space-between;
}

.material-icons {
    cursor: pointer;
    color: rgb(2, 99, 99);
    margin-top: 5px;

}
  