body {
  background-image: url("media/cover.jpg");
  background-color: orange;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
}

.logoKont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoKont h4:first-child {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 5px;
}

.logoKont h4:last-child {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

.logoKont a {
  text-decoration: none;
  color: #000000;
}

.logoKont a:hover {
  text-decoration: none;
  color: #6e0303;
}

#rt {
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
  height: auto;
}


.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



#messageOutput{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
}

#copyButton {
  background-color: #01551a;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-top: 2px;
}

.return {
  display: block;
  margin-top: 10px;
  background-color: rgb(255, 196, 0);
  padding: 10px;
  border-style: none;
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 4px rgb(73, 73, 73, 0.3);
}

a {
  text-decoration: none;
}

.ikons {
  margin-top: 5px;
  display: flex;
  width: 120px;
  align-items: center;
  justify-content: space-between;
}

.material-icons {
  cursor: pointer;
  color: rgb(2, 99, 99);
  margin-top: 5px;

}